.container {
  position: relative;
  max-width: 750px;
  margin: 5px auto;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  padding: 20px;
}

.full-width {
  width: 100%;
}
.half-width {
  min-width: 320px;
}

.quarter-width {
  min-width: 80px;
  margin: 0 1% 0 0;
}

.form {
  border: 1px solid gray;
}
.deleteIcon {
  position: relative;
  opacity: 0;
}


.spinner {
  margin: 0 auto;
  text-align: center;
}

.mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode=indeterminate] {

  margin: 0 auto;
}



