

<div
  class="container"
  fxFlex
  fxLayout="column"
  fxLayoutAlign="space-around none">

  <h3>Product Management > <b>Edit product</b> </h3>
  <hr />
  <!-- <pre *ngIf = "productForm">{{productForm.value | json}}</pre> -->
  <div *ngIf = "show" class="spinner">
    <mat-spinner strokeWidth='2' diameter='110'></mat-spinner>
    <div>
      <h3>Please wait... <br> Getting the product details...</h3>
    </div>       
  </div>

  <div *ngIf = "showForm" class="spinner">
    <mat-spinner strokeWidth='2' diameter='110'></mat-spinner>
    <div>
      <h3>Please wait... <br> Updating the product details...</h3>
    </div>       
  </div>

  <br>
  <div fxLayoutAlign='center center' fxLayout='column' *ngIf = "resProduct">
    <img src="assets/images/tick.svg" width="100px" alt="">
    <h2>Product updated successfully</h2>
    <div class="details">
      <table border="1">
        <tr>
          <td colspan="2">Product Details</td>          
        </tr>
        <tr>
          <td>Product ID</td>
          <td>{{resProduct._id}}</td>
        </tr>
        <tr>
          <td>Product name</td>
          <td>{{resProduct.title}}</td>
        </tr>
        <tr>
          <td>Category</td>
          <td>{{resProduct.category}}</td>
        </tr>
      </table>
    </div>
    <br>
    <div fxLayout.xs='column' fxLayout.sm = 'column' fxLayoutGap='10px'>
      <button style="background-color: #FFD7B5;" mat-button> <a style="text-decoration: none;" href="/home/dashboard">Homepage</a> <mat-icon>home</mat-icon></button>
      <button  style="background-color: #FFD7B5;" mat-button> <a style="text-decoration: none;" href="home/product-management/all-products">View all products</a> <mat-icon>launch</mat-icon></button>
    </div>
  </div>
  <br>
  <form *ngIf="!show && !showForm && !resProduct" #form="ngForm" (ngSubmit)="save(form.value)" novalidate [formGroup] = "productForm">
    <h2>Product Details:</h2>
    <div
      fxLayout="row"
      fxLayout.sm="column"
      fxLayout.md="row" 
      fxLayout.xs="column"
      fxLayoutAlign="space-between none">

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Product name</mat-label>
        <input type="text" matInput formControlName="title" />
        <mat-error *ngIf="formErrors.title">
          {{ formErrors.title }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="half-width">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option
            value="{{ category }}"
            *ngFor="let category of categories">
            {{ category }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formErrors.category">
          {{ formErrors.category }}
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Short description</mat-label>
      <textarea name="des" id="" cols="30" rows="2" 
        (keyup)="calculateWords(desc.value)" #desc matInput
        formControlName="shortDescription">
      </textarea>
      <mat-error *ngIf="formErrors.shortDescription">
        {{ formErrors.shortDescription }}
      </mat-error>
      <br />
      <span style="position: absolute; right: 0; padding: 10px">
        {{ length }}/ 500</span>
      <br />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Long description</mat-label>
      <textarea name="des" id="" cols="30" rows="4" matInput
        formControlName="longDescription"></textarea>
      <mat-error *ngIf="formErrors.longDescription">
        {{ formErrors.longDescription }}
      </mat-error>
    </mat-form-field>

    <h2>Specifications:</h2>
    <div
      formArrayName="specification"
      fxLayoutAlign="center none"
      fxLayout="column"
      fxLayout.sm="column"
      fxLayout.xs="column">
      <div
        *ngFor="
          let spec of productForm.get('specification')['controls'];
          let i = index">
        <span>Specification {{ i + 1 }}</span> 
        <button *ngIf = "i != 0" (click)="removeSpec(i)" color="warn" mat-icon-button>
          <mat-icon>cancel</mat-icon>
        </button>
        <div
          [formGroupName]="i"
          fxLayout="row"
          fxLayout.sm="row"
          fxLayout.xs="column">
          <mat-form-field appearance="outline" class="spec-width">
            <mat-label>Specification name </mat-label>
            <input type="text" value="{{spec.value.key}}" matInput formControlName="key" />
          </mat-form-field>
          <span fxHide.lt-sm style="margin: 20px 10px"><b> : </b></span>
          <mat-form-field appearance="outline" class="spec-width">
            <mat-label>Specification value </mat-label>
            <input type="text" value="{{spec.value.value}}" matInput formControlName="value" />
          </mat-form-field>
        </div>
      </div>
    </div>
    <span>Add specification: </span>
    <button (click)="addSpec()" type="button" mat-icon-button>
      <mat-icon>add</mat-icon>
    </button>
    <br />
    <br />
    <div fxLayout = 'row' fxLayout.xs = 'column' fxLayoutAlign='space-between none'>
      <div>
        <h2 style="display: inline-block;">Product availability : &nbsp; </h2>
        <mat-slide-toggle formControlName="status"></mat-slide-toggle>
      </div>
      <div>
        <mat-form-field appearance = 'outline'>
          <mat-label>Rating</mat-label>
          <input type="number" min="0" max="5" matInput formControlName = 'rating'>
          <mat-error *ngIf = "formErrors.rating">
            {{formErrors.rating}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <h2>Product Variants</h2>
    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutGap.lg="50px"
      fxLayoutGap.md="40px"
      fxLayoutGap.sm="30px"
      fxLayoutAlign="space-between start">

      <div fxFlex="0 0 auto" formArrayName="color">
        <h3>Choose colors available:</h3>
        <div
          *ngFor="let color of productForm.get('color')['controls']; let i = index">
          <mat-checkbox
            [formControl]="color"
            (change)="getSelectedColors(color, myColors[i].name)"
            >{{ myColors[i].name }}</mat-checkbox>
        </div>
      </div>
      <br />

      <div fxFlex="0 0 auto">
        <h3>Add variants:</h3>
        <mat-form-field appearance="outline" style="width: 100px">
          <input type="text" #size matInput name="size" [ngModelOptions]="{standalone: true}" [(ngModel)]="Value" />
        </mat-form-field>
        <button mat-icon-button type="button" (click)="addSize(size.value)">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <div *ngIf="sizesArray.length != 0" fxLayout="column" fxFlex="1 1 auto">
        <h3>Available sizes:</h3>
        <mat-chip-list fxLayout="row wrap">
          <mat-chip *ngFor="let size of sizesArray; let i = index">
            {{ size }}
            <mat-icon (click)="removeSize(i)" matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
    </div>
    <br />

    <div
      formArrayName="subProducts"
     
      fxLayoutAlign="center none"
      fxLayout="column"
      fxLayout.sm="column"
      fxLayout.xs="column">

      <h2>Update Stock Details:</h2> 
      <div
        class="products"
        fxFlex
        *ngFor="let type of productForm.get('subProducts')['controls']; let i = index">

        <div
          [formGroupName]="i"
          fxLayout="column"
          fxLayout.sm="column"
          fxLayout.xs="column">

          <div fxLayoutAlign="space-between center">
            <span>Type {{ i + 1 }} : </span>
            <mat-checkbox #check formControlName="isAvailable">
                Available</mat-checkbox>          
            <span
              *ngIf="productForm.get('subProducts')['controls'].length > 1"
              (click)="remove(i)"></span>
          </div>
          <hr />
          <div fxLayout="row" fxLayout.xs="column">
            <mat-form-field
              fxFlex="1 1 auto"
              appearance="outline"
              class="quarter-width">

              <mat-label>Color</mat-label>
              <input type="text" matInput value="{{type.value.color}}" formControlName="color" readonly />
              <mat-error *ngIf="formErrors.color">
                {{ formErrors.color }}
              </mat-error>
            </mat-form-field>

            <mat-form-field
              fxFlex="0 0 10%"
              appearance="outline"
              class="quarter-width">
              <mat-label>Size</mat-label>
              <input
                type="text"
                min="0"
                value="{{type.value.size}}"
                matInput
                formControlName="size"
                readonly/>
            </mat-form-field>

            <mat-form-field
              fxFLex="0 0 20%"
              appearance="outline"
              class="quarter-width">
              <mat-label>Quantity</mat-label>
              <input
                [readonly]="!check.checked"
                type="number"
                min="0"
                value="{{type.value.quantity}}"
                matInput
                formControlName="quantity"/>
            </mat-form-field>

            <mat-form-field
              fxFlex="0 0 20%"
              appearance="outline"
              class="quarter-width">
              <mat-label>Price</mat-label>
              <input
                [readonly]="!check.checked"
                type="number"
                min="0"
                value="{{type.value.price}}"
                matInput
                formControlName="price"/>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <!-- <button (click) = "addItem()" type="button"  mat-raised-button><mat-icon>add</mat-icon> Add item</button> -->

    <h2>Upload images:</h2>
    <h3>Product main image :</h3>
    <button mat-button type="button" (click)="uploadMainImage()">
      Upload Main image
    </button>
    <br /><br />
    <div *ngIf="productForm.controls['productImage'].value != ''">
      <img class="image" *ngIf = "!isChanged"
      src="{{config}}{{productForm.controls['productImage'].value}}"
      style="width: 120px; height: auto; margin: auto"
      alt=""
    />
      <img class="image" *ngIf = "isChanged"
        src="{{productForm.controls['productImage'].value}}"
        style="width: 120px; height: auto; margin: auto"
        alt=""
      />
   
    </div>
    <small *ngIf="productForm.controls['productImage'].value == ''" style="color: red"
      >Please upload product main image</small
    >
    <br />
    <br />
    <h3>Product page images :</h3>
    
    <small style="color: red;" *ngIf = "imageCount != 5">Please upload all 5 images</small>
    <div fxLayout='row wrap' fxLayoutAlign='space-between none'>
      <div *ngFor="let i of [0,1,2,3,4]" fxLayout="column">
        <img *ngIf = "status[i] == 1" src="{{images[i]}}" class="image" alt="side image {{i}}">
        <img *ngIf = "status[i] == 0" src="{{config}}{{images[i]}}" class="image" alt="side image {{i}}">
        <button style="width: 125px;" mat-button type="button" (click)="openCrop(i)">Select image {{i+1}}</button>
      </div>
    </div>
    <br>

    <!-- <div
      fxLayout="row wrap"
      fxLayoutGap="10px"
      fxLayoutAlign="space-around none"
      class="images"
    >
      <span
        *ngFor="let img of productForm.get('otherImages')['controls']; let j = index"
        class="imageContainer"
      >
        <img
          src="{{config}}{{img.value}}"
          style="width: 100px; height: auto; margin-right: 10px"
          alt=""
        />
        <button mat-icon-button (click)="removeImage(j)" class="deleteIcon">
          <mat-icon>cancel</mat-icon>
        </button>
      </span>
      <br />
      
    </div>
    <span
      *ngIf="
        productForm.get('otherImages')['controls'].length < 5 ||
        productForm.get('otherImages')['controls'].length > 5
      "
    >
      <small style="color: red">Please upload only 5 images.</small>
    </span>
    <br />
    <br /> -->
    <button
      type="button"
      mat-raised-button
      style="float: right"
      [disabled]="form.invalid"
      color="primary"
      (click)="save(form.value)"
    >
      Update product details
    </button>
  </form>
</div>
