.container {
    position: relative;
    max-width: 750px;
    height: 70vh;
    margin: 5px auto;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    padding: 20px;
  }

  .spinner {
    margin: 0 auto;
    text-align: center;
  }
  
  .mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode=indeterminate] {
    
    margin: 0 auto;
  }