.container {
    max-width: 1100px;
    height: auto;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid black;
}
mat-header-row, mat-paginator {
    background-color: #FFD7B5;
  }

  .mat-cell {
    padding: 10px;
  }
  mat-cell:first-of-type, mat-header-cell:first-of-type, mat-footer-cell:first-of-type {
    padding-left: 24px;
  }
  mat-cell:last-of-type, mat-header-cell:last-of-type, mat-footer-cell:last-of-type {
    padding-right: 24px;
  }
  .spinner {
    margin: 0 auto;
    text-align: center;
  }
  .mat-progress-spinner.mat-progress-spinner-indeterminate-animation[mode=indeterminate] {
    
    margin: 0 auto;
  }
  mat-row {
    cursor: pointer;
  }
  span {
    padding: 8px 12px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px 0;
  }
  